# Week 2 - Python Data Types #2

**Goal** : Python의 다음과 같은 자료형들을 익히자; List, Tuple, dictionary, set and bool

## 1.List

지금까지 우리는 숫자와 문자열에 대해서 알아보았다. 하지만 숫자와 문자열만으로 프로그래밍을 하기엔 부족한 점이 많다.

예를 들어 1부터 10까지의 숫자 중 홀수 모음인 1, 3, 5, 7, 9의 집합을 생각해 보자.

이런 숫자 모음을 숫자나 문자열로 표현하기는 쉽지 않다.

파이썬에는 이러한 불편함을 해소할 수 있는 자료형이 존재한다. 그것이 바로 여기에서 공부할 리스트(List)이다.

In [ ]:
odd_list = [1, 3, 5, 7, 9]

여러 가지 리스트의 예시

In [ ]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

### Indexing

In [ ]:
a = [1, 2, 3]

a[0]

#a[0] + a[2]

#a[-1]

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

a[-1]

#a[3]

List a 속의 ['a', 'b', 'c']에서의 'a'를 꺼내는 방법은?

In [19]:
a =  ['a', 'b', 'c']
a[-1][0]

'c'

[삼중 리스트에서 인덱싱하기]

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

a[2][2][0]

### Slicing

문자열과 마찬가지로 리스트에서도 슬라이싱 기법을 적용할 수 있다. 슬라이싱은 "나눈다"는 뜻이라고 했다.


자, 그럼 리스트의 슬라이싱에 대해서 살펴보자.

In [12]:
a = [1, 2, 3, 4, 5]

a[0:2]

[1, 2]

앞의 예를 문자열에서 슬라이싱했던 것과 비교해 보자.

In [13]:
a = "12345"

a[0:2]

'12'

인덱스의 생략

In [17]:
a = [1, 2, 3, 4, 5]

a[2:]

# a[:4]

[3, 4, 5]

**Step size 조절하기**

Slicing에서, :을 하나 더 써서 세 번째 자리에 원하는 step size (혹은 stride size)를 정할 수 있다.

In [ ]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

li[:10:2]

# li[1:10:2]

[1, 3, 5, 7, 9]

### Concatenation & Repetition

리스트 역시 +기호를 사용해서 더할 수 있고 * 기호를 사용해서 반복할 수 있다.

문자열과 마찬가지로 리스트에서도 되는지 직접 확인해 보자.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

In [ ]:
a = [1, 2, 3]

a * 3

### Modification & Deletion

리스트는 값을 수정하거나 삭제할 수 있다.

**리스트에서 값 수정하기**

In [ ]:
a = [1, 2, 3]

a[2] = 4

a

a[2]의 요솟값 3이 4로 바뀌었다.

**del 함수 사용해 리스트 요소 삭제하기**

In [ ]:
a = [1, 2, 3]

del a[1]

a

del a[x]는 x번째 요솟값을 삭제한다. 위에서는 a 리스트에서 a[1]을 삭제하는 방법을 보여준다.


다음처럼 슬라이싱 기법을 사용하여 리스트의 요소 여러 개를 한꺼번에 삭제할 수도 있다.

In [ ]:
a = [1, 2, 3, 4, 5]

del a[2:]

a

### Fundamental functions

**리스트에 요소 추가(append)**

append(x)는 리스트의 맨 마지막에 x를 추가하는 함수이다.

In [20]:
a = [1, 2, 3]

a.append(4)

a

[1, 2, 3, 4]

리스트 안에는 어떤 자료형도 추가할 수 있다. 다음 예는 리스트에 다시 리스트를 추가한 결과이다.

In [21]:
a.append([5,6])

a

[1, 2, 3, 4, [5, 6]]

**리스트 확장(extend)**

In [22]:
a = [1,2,3]

a.extend([4,5])

a

[1, 2, 3, 4, 5]

**리스트 정렬(sort)**

In [26]:
a = [1, 4, 3, 2]
a.sort()
a

#a = ['a', 'c', 'b']
#a.sort()

[1, 2, 3, 4]

**리스트 뒤집기(reverse)**

In [ ]:
a = ['a', 'c', 'b']

a.reverse()

a

**인덱스 반환(index)**

In [24]:
a = [1,2,3]

a.index(2)

1

**리스트에 요소 삽입(insert)**

insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다. 파이썬은 숫자를 0부터 센다는 것을 반드시 기억하자.

In [ ]:
a = [1, 2, 3]

a.insert(0, 4)

a

**리스트 요소 제거(remove)**

remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

In [ ]:
a = [1, 2, 3, 1, 2, 3]

a.remove(3)

a

**리스트 요소 끄집어내기(pop)**

pop()은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제한다.

In [7]:
a = [1,2,3]

a.pop()

3

a 리스트 [1, 2, 3]에서 3을 끄집어내고 최종적으로 [1, 2]만 남는 것을 볼 수 있다.

pop(x)는 리스트의 x번째 요소를 리턴하고 그 요소는 삭제한다.

In [ ]:
a = [1,2,3]

a.pop(1)

#a

### Try It! 1

```[1, 6, 'abd', ['12', 7], 'zi']```라는 리스트가 있을 때, 이 리스트의 4번째 원소의 마지막 원소를 return하시오.

In [11]:
a = [1, 6, 'abd', ['12', 7], 'zi']
a[3].pop()

7

### Try It! 2

```[1, 6, '123', ['12', 7], '938']```라는 리스트에서, 원소가 문자열인 원소들을 모두 숫자형으로 바꾸시오.

In [30]:
a = [1, 6, '123', ['12', 7], '938']
a

[1, 6, '123', ['12', 7], '938']

## 2.Tuple

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며, 리스트와 다른 점은 다음과 같다.

- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.

- 리스트는 요소 값의 생성, 삭제, 수정이 가능하지만 튜플은 요소 값을 바꿀 수 없다.

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

리스트와 모습은 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점을 찾아볼 수 있다. t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 괄호( )를 생략해도 된다는 점이다.
<br><br>
얼핏 보면 튜플과 리스트는 비슷한 역할을 하지만 프로그래밍을 할 때 튜플과 리스트는 구별해서 사용하는 것이 유리하다.

튜플과 리스트의 가장 큰 차이는 **요솟값을 변화시킬 수 있는가 여**부이다. 즉 리스트의 요솟값은 변화가 가능하고 튜플의 요솟값은 변화가 불가능하다.

 평균적으로 튜플보다는 리스트를 더 많이 사용한다.

1. 튜플 요솟값을 삭제하려 할 때

In [ ]:
t1 = (1, 2, 'a', 'b')
del t1[0]

2. 튜플 요솟값을 변경하려 할 때

In [ ]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

이 두 가지를 제외하면, 리스트와 완전히 똑같음!

## 3.Dictionary

사람은 누구든지 "이름" = "홍길동", "생일" = "몇 월 며칠" 등으로 나타낼 수 있다. 파이썬은 영리하게도 이러한 대응 관계를 나타낼 수 있는 자료형을 가지고 있다. 요즘 사용하는 대부분의 언어도 이러한 대응 관계를 나타내는 자료형을 갖고 있는데, 이를 연관 배열(Associative array) 또는 해시(Hash)라고 한다.

<br>

파이썬에서는 이러한 자료형을 딕셔너리(Dictionary)라고 하는데, 단어 그대로 해석하면 사전이라는 뜻이다. 즉 "people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형이다. 예컨대 Key가 "baseball"이라면 Value는 "야구"가 될 것이다.

<br>

딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다. 이것이 바로 딕셔너리의 가장 큰 특징이다. baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.

In [ ]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

dic

![image.png]()

다음 예는 Key로 정수 값 1, Value로 문자열 'hi'를 사용한 예이다.

In [ ]:
a = {1: 'hi'}

또한 다음 예처럼 Value에 리스트도 넣을 수 있다.

In [ ]:
a = { 'a': [1,2,3]}

### Key-value pair 추가, 삭제

딕셔너리 쌍을 추가하는 방법과 삭제하는 방법을 살펴보자. 먼저 딕셔너리에 쌍을 추가해 보자.

In [ ]:
a = {1: 'a'}

a[1]

# print(a)

#a['name'] = 'pey'

#a[3] = [1,2,3]

'a'

딕셔너리 요소 삭제하기

In [ ]:
del a[1]

a

{}

### When to use Dictionary

"딕셔너리는 주로 어떤 것을 표현하는 데 사용할까?"라는 의문이 들 것이다. 예를 들어 4명의 사람이 있다고 가정하고, 각자의 특기를 표현할 수 있는 좋은 방법에 대해서 생각해 보자.

리스트나 문자열로는 표현하기가 상당히 까다로울 것이다. 하지만 파이썬의 딕셔너리를 사용한다면 이 상황을 표현하기가 정말 쉽다.

In [ ]:
# 사람 이름 - 특기 pair의 dictionary

{"김연아":"피겨스케이팅", "류현진":"야구", "손흥민":"축구", "Justin Lee":"파이썬"}

### How to get values

어떤 Key의 Value를 얻기 위해서는 ```딕셔너리변수이름[Key]```를 사용한다.

In [ ]:
grade = {'pey': 10, 'julliet': 99, 'justin' : '100', 7 : 70}

grade['pey']

# grade[7] # Don't be confused with indexing


# Try more

10

### 딕셔너리 만들 때 주의할 사항

딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점을 주의해야 한다.

 다음 예에서 볼 수 있듯이 동일한 Key가 2개 존재할 경우 1:'a' 쌍이 무시된다.

In [ ]:
a = {1:'a', 1:'b'}

a

{1: 'b'}

또 한 가지 주의해야 할 사항은 <span style="background-color:yellow;">Key</span>에 리스트는 쓸 수 없다는 것이다. 하지만 **튜플은 Key로 쓸 수 있다**.

딕셔너리의 Key로 쓸 수 있느냐 없느냐는 Key가 변하는(mutable) 값인지 변하지 않는(immutable) 값인지에 달려 있다.

In [ ]:
a = {(1,2) : 'hi'}
a[(1,2)]

'hi'

### Fundamental functions

**Key 리스트 만들기(keys)**

a.keys()는 딕셔너리 a의 Key만을 모아서 **dict_keys 객체**를 리턴한다.

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

a.keys()

dict_keys(['name', 'phone', 'birth'])

객체 타입을 list로 변경하고 싶으면, list()를 사용하면 된다.

In [ ]:
# Convert a.keys()'s type to list

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

a.keys()

list(a.keys())

['name', 'phone', 'birth']

**Value 리스트 만들기(values)**

Key를 얻는 것과 마찬가지 방법으로 Value만 얻고 싶다면 values 함수를 사용하면 된다. values 함수를 호출하면 dict_values 객체를 돌려준다.

In [ ]:
a.values()
list(a.values())

['pey', '010-9999-1234', '1118']

**Key, Value pair 얻기(items)**

items 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다

In [ ]:
a.items()
list(a.items())

[('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')]

**Key: Value pair 모두 지우기(clear)**

In [ ]:
a.clear()

a

{}

**Key로 Value얻기(get)**

```a.get('name')```은 ```a['name']```을 사용했을 때와 동일한 결괏값을 리턴한다.

다만 다음 예제에서 볼 수 있듯이 ```a['nokey']```처럼 딕셔너리에 존재하지 않는 키로 값을 가져오려고 할 경우 a['nokey'] 방식은 오류를 발생시키고,

 ```a.get('nokey')``` 방식은 None을 리턴한다는 차이가 있다.

In [39]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

# a['name']

# a['name']



# Error occurs

# a['nokey']
a.get('nokey')

In [40]:
a.get('nokey', 'key no exist')
# print(a)
# a.get('dkls')

'key no exist'

해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [ ]:
# a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

# '' in a

# b = ['hello','tom','tdt']
b = 'toddler'

'toddler' in b


# True / False는 Bool data type (곧 배울 것)


#'email' in a

True

### Try It!

자신의 이름, 키, 몸무게, 나이, 학년을 나타내는 dictionary를 만들고, 이후 키를 180cm로 덮어쓰기 하시오.

In [93]:
a = {'키':'174cm', '몸무게':'55kg', '나이':'15세', '학년': '중3'}
a = {'키':'180cm'}
print(a)

{'키': '180cm'}

## 4.Set

집합(set) : 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.

In [ ]:
# s1 = set([1,2,3])

# s1

s2 = set("Hello")

s2

{'H', 'e', 'l', 'o'}

- 비어 있는 집합 자료형은 s = set()로 만들수 있다.

### Set의 특징

위에서 살펴본 ```set("Hello")```의 결과가 좀 이상하지 않은가?

분명 "Hello" 문자열로 set 자료형을 만들었는데 생성된 자료형에는 l 문자가 하나 빠져 있고 순서도 뒤죽박죽이다.

그 이유는 set에 다음과 같은 **2가지 큰 특징**이 있기 때문이다.

- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

- 중복을 허용하지 특징 때문에 set은 자료형의 중복을 제거하기 위한 필터로 종종 사용된다.

- Dictionary처럼, 순서가 없기 때문에 index를 지원하지 않는다.

만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한후 해야 한다.

In [ ]:
s1 = set([1,2,3])
l1 = list(s1)
l1


# l1[0]

#t1 = tuple(s1)
#t1

#t1[0]

[1, 2, 3]

### When to use Set

set 자료형을 정말 유용하게 사용하는 경우는 교집합, 합집합, 차집합을 구할 때이다.

우선 다음과 같이 2개의 set 자료형을 만든 후 따라 해 보자. s1은 1부터 6까지의 값을 가지게 되었고, s2는 4부터 9까지의 값을 가지게 되었다.

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

### Intersection (교집합)

In [ ]:
# Using '&' symbol
s1 & s2

# Using '.intersection()' function
#s1.intersection(s2)

{4, 5, 6}

### Union (합집합)

In [ ]:
# Using '|' symbol
s1 | s2

# Using '.union()' function
#s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Difference (차집합)

In [ ]:
# Using '-' symbol
s1 - s2

# Using '.difference()' function
s1.difference(s2)



# Using '-' symbol
s2 - s1

# Using '.difference()' function
s2.difference(s1)

{7, 8, 9}

### Fundamental functions

**값 1개 추가하기(add)**

In [ ]:
s1 = set([1, 2, 3])
s1.add( (8,) )
s1

{(8,), 1, 2, 3}

**값 여러 개 추가하기(update)**

In [ ]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

**특정 값 제거하기(remove)**

In [ ]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

### Try It!

1, 123, 30, 290, 2930, 3903, 123, 345, 2322, 188, 1, 8, 182, 30, 390, 290, 1, 30에서 세 번째로 작은 숫자를 찾으시오.

In [86]:
s1 = set([1, 123, 30, 290, 2930, 3903, 123, 345, 2322, 188, 1, 8, 182, 30, 390, 290, 1, 30])
s2 = set([1, 123, 30, 290, 2930, 3903, 123, 345, 2322, 188, 1, 8, 182, 30, 390, 290, 1, 30])
s1 | s2

{1, 8, 30, 123, 182, 188, 290, 345, 390, 2322, 2930, 3903}

## 5.Bool

불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다. 불 자료형은 다음 2가지 값만을 가질 수 있다.

- True - 참
- False - 거짓

In [118]:
a = True

b = False

# type(x)는 x의 자료형을 확인하는 Python built-in function이다.
type(a)

# type(b)

# type(19)

bool

불 자료형은 조건문의 리턴 값으로도 사용된다. 조건문에 대해서는 다음 주에 자세히 배우겠지만 잠시 살펴보고 넘어가자.

In [120]:
1 == 1
2 > 1
2 < 1
19 == '19'
True == 0

False

![image.png]()

문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓이 된다.

당연히 비어있지 않으면 참이 된다.

숫자에서는 그 값이 0일 때 거짓이 된다

### Boolean operation

자료형에 참과 거짓이 있음을 이제 알게 되었다. bool 함수를 사용하면 자료형의 참과 거짓을 보다 정확하게 식별할 수 있다.

다음 예제를 따라 해 보자.

In [89]:
bool('python')

True

'python' 문자열은 빈 문자열이 아니므로 bool 연산의 결과로 불 자료형인 True를 리턴한다.

In [90]:
bool('')

False

In [ ]:
# Playground

### Try it!

3.Dictionary 파트의 Try It!에서 만들었던 dictionary를 그대로 가져오고, 자신의 키가 180cm보다 큰지 확인하시오.

In [138]:
a = {'키':'174cm', '몸무게':'55kg', '나이':'15세', '학년': '중3'}
a = {'키':'180cm'}
bool('키')

True

# Homework

Q2. Palindrome이란, ```Madam, I'm Adam.```이나 ```nurses run```과 같이 거꾸로 읽어도 제대로 읽는 것과 같은 것을 말한다.

그러나, python에서의 palindrome은 ``` `  M.ada.M  ` ```과 같이 좀 더 좁은 개념으로, 띄어쓰기나 . 등의 기호 모두 symmetrical이어야 한다.

<br>
<br>

 ```'Xiplisalsjdk akfsLksi iskLsfka kdjslasilpiX'```라는 string이 palindrome일 때, 이를 validate하는 코드를 두 가지 다른 방법으로 작성하시오.

 - palindrome이면 True, 아니면 False를 print
 - Manual counting is banned in any case.
 - Both approaches must involve slicing skill.

In [ ]:
S = 'Xiplisalsjdk akfsLksi iskLsfka kdjslasilpiX'

Approach 1

In [159]:
# Write further codes
S = 'Xiplisalsjdk akfsLksi iskLsfka kdjslasilpiX'

S == S[::-1]


# Print the validation result as a boolean type
S = ['Xiplisalsjdk akfsLksi iskLsfka kdjslasilpiX']

bool(S == S.reverse())

False

Approach 2 - advanced

* Hint : Slicing 기법 중, **step size**를 조절하는 것이 있었다. Reverse function의 기능을 step size를 통해서 대신할 수 있을지도 ..?

* 즉, Forward -> Backward?

* Using reverse function is banned.

In [ ]:
s = 'sadfsadfjsdia;fjklsda'


length = len(s)

a = s[:(length // 2) ]

In [180]:
# Write further codes
S = 'Xiplisalsjdk akfsLksi iskLsfka kdjslasilpiX'

S == S[::-1]

# Print the validation result as a boolean type
S[:len(S) // 2:1]

'Xiplisalsjdk akfsLksi'

***Challenging problem !***

Q3. Python에는, ```map(func, li)```의 꼴로 사용했을때, ```func```라는 함수를 ```li```라는 리스트에 element-wise로 적용시키는 함수가 있다.

<br><br>

======================================================================

예를 들어서, ```[ [1, 2], [2, 3, 4], [6, 10, 8] ]```이라는 nested list가 있다.

이 nested list의 each element또한 list이므로, len()함수를 적용할 수 있다.

<br>

따라서, ```x = map(len, [ [1, 2], [2, 3, 4], [6, 10, 8] ])```을 작성한 뒤 ```print(list(x))```를 실행시키면, ```[2, 3, 3]``` (nested list의 element에 해당하는 list의 length들)라는 결과가 나온다.


* x에 list() - ()안의 무언가를 리스트로 만들어주는 - 라는 함수를 사용한 이유는, map 함수는 결과를 list가 아닌 '비슷한 무언가'로 return하기 때문이다 (다음 주에 배울 것이니 알고만 있으면 된다).



<br>

(map 함수에 대한 더욱 설명은, [이 링크](https://dojang.io/mod/page/view.php?id=2286)를 클릭하거나, 구글에 'map function in python'로 검색하여 찾아보시오.)

======================================================================




<br><br><br>

다음과 같은 dictionary가 원소인 list가 주어진다고 하자:

In [ ]:
Justin_and_Jun = [ {'Justin' : 'smart', 'Jun' : 'foolish'}, {'Justin' : 'young', 'Jun' : 'old'}]

이 때, ```[['smart', 'foolish'], ['young', 'old']]```의 형태로 dictionary의 value들을 분리하여 extract하고 싶다.

하지만, len()처럼 생긴 함수가 아닌 .randomFunc()같은 함수는, ```map(len, randomList)```이 가능한 것과 달리 ```map(randomFunc, randomList)```의 형태로 사용할 수가 없다.

대신, ```map(lambda x : x.randomFunc(), randomList)```의 형태로 사용해야한다.

 - lambda 뒤에 붙은 변수 x는, 앞으로 randomList의 each element를 의미하며, 그 각각에 .randomFunc()를 적용시켜 list를 만드는 것으로 볼 수 있다.

 - Python Map Lambda라는 키워드로 googling해볼 수 있을 것이다.

<br><br><br>```Justin_and_Jun``` 리스트로부터, 정확히 ```[['smart', 'foolish'], ['young', 'old']]```를 print하는 코드를, one-liner로 작성하시오.

In [ ]:
# One-liner solution

[['smart', 'foolish'], ['young', 'old']]